body {
  background: url("../images/light_honeycomb.png");
}

* {
  box-sizing: border-box;
}

#masthead {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid black;
}

#logocol {
  background-color: black;
  margin-right: 20%;
  width: 100%;
}

#logo h2 {
  color: #ffffff;
  background: black;
  text-align: center;
  padding: 30px;
  padding-bottom: 20px;
}

#nav {
  border: none;
  margin-right: 10px;
}

#authimage {
  height: 100%;
  width: 100%;
}

#main-container{
  margin-top: 40px;
}

#blank {
  padding: 50px;
}

h3 {
  background-color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: relative;
  bottom: 50px;
}

p {
  color: gray;
  font-size: 18px;
  line-height: 1.5;
}

#form {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
}

#footer {
  color: #ffffff;
  background: black;
  padding: 20px;
  border-top: 6px solid white;
}

#footer p {
  font-size: 10px;
  text-align: center;
}